@page "/loadingindicator"

<p>OnInitializedCounter will increase by one when this page was rendered from an established Blazor connection (i.e. we invoked the index page first). It will increase by two otherwise. Use OnAfterRender to initialize component if this is a problem.</p>
<br />
<p>OnInitializedCounter: @OnInitializedCounter</p>
<p>OnAfterRenderCounter: @(OnAfterRenderCounter + 1)</p>
<br />
@if (!Initialized)
{
    <p>Loading ...</p>
}
else
{
    <p>Ready.</p>
    <br />
    <p>Activity1 is an async method which awaits a two seconds delay task. It will result in two page renders!</p>
    <div>
        <button @onclick="ExecuteActivity1Async">Execute activity 1</button>&nbsp;<span>@Activity1Status</span>
    </div>
    <br />
    <p>Activity2 is a method which returns a completed task. It will result in one page render.</p>
    <div>
        <button @onclick="ExecuteActivity2">Execute activity 2</button>&nbsp;<span>@Activity2Status</span>
    </div>
    <br />
    <p>Activity3 is a method which returns a two seconds delay task. It will result in two page renders, the last one will occur once the task completes.</p>
    <div>
        <button @onclick="ExecuteActivity3">Execute activity 3</button>&nbsp;<span>@Activity3Status</span>
    </div>
}

